.mahamiee-content-address {
  margin: 2rem auto;
  min-height: 25px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.7rem;
  color: rgb(23 90 154);
}

.mahamiee-content-address .line-shape {
  display: inline-block;
  height: 2px;
  width: 57px !important;
  background: rgb(23 90 154);
  margin: 13px .3rem;
}

.mahamiee-content-address .line-middle {
  position: relative;
  background: rgb(23 90 154);
}

.mahamiee-content-address .line-middle span {
  height: 15px;
  width: 15px;
  background-color: rgb(23 90 154);
  position: absolute;
  border-radius: 60px;
  top: -7.5px;
  left: 21px;
}