.content-foucs_content {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: auto;
}

.mahamiee-content_content-focus {
  position: relative;
  height: 794px;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c), url('../../assets/images/backgrounds/ios-development-tools.png'); */
  background: linear-gradient(rgb(118 183 255), rgba(0, 0, 0, 0.1)), url(../../assets/images/backgrounds/ios-development-tools.png);
  /* url('../../assets/images/backgrounds/ios-development-tools.png'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.mahamiee-content_content-focus .company-name {
  text-transform: uppercase;
  display: block;
  color: rgb(0 89 174);
  letter-spacing: .1rem;
  font-size: .9rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.mahamiee-content_content-focus .logo-name {
  color: rgb(23 90 154);
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 900;
}

.mahamiee-content_content-focus .logo-desc {
  color: #1f6eba;
  text-transform: uppercase;
  margin-top: -1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.mahamiee-content_content-focus .logo-full-desc {
  color: #0f4785;
  justify-content: center;
  text-align: justify;
  width: 75%;
  text-indent: 50px;
  font-size: 1.1rem;
}

.mahamiee-content_content-focus .get-started-btn {
  background: #024ea1;
  box-shadow: 1px 1px 7px #206cb6;
  /* border-radius: 6px; */
  border: 1px solid #206cb6;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgb(150 203 252);
  padding: .5rem 2rem;
  margin-top: .5rem;
  font-weight: 500;
  transition: all .3s linear;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

.mahamiee-content_content-focus .get-started-btn:hover {
  /* color: var(--brn-clr);
background: var(--mn-clr); */
  background: transparent;
  color: #175a9a;

}

.mahamiee-content_content-focus iframe {
  border: 16px solid #336aa8;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}



.mahamiee_content-focus_video {
  position: relative;
  width: 100%;
  height: 100%;
}

.mahamiee_video-overlay {
  position: absolute;
  /* background-color: #2f65a31c; */
  width: 100%;
  height: 100%;
  display: none;
}

.mahamiee_content-focus_video .mahamiee_video-bases span {}

.mahamiee_content-focus_video .mahamiee_video-bases span:first-child {}

.mahamiee_content-focus_video .mahamiee_video-bases span:nth-child(2) {}